#bodi {
  width: auto;
  height: 272vw;
  background-color: #F0F8FF;
  margin: 0 auto;
}

#topBox {
  width: 100vw;
  height: 20vh;
}

#logo {
  width: 20%;
  height: 100%;
}

#logoMain {
  width: 22%;
  height: 22%;

  position: absolute;
  top: 0%;
  left: 0%;
}

#logoMain img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0%;
  left: 0%;
}

#logoRingOne {
  width: 22%;
  height: 22%;

  position: absolute;
  top: 0%;
  left: 0%;
}

#logoRingOne img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0%;
  left: 0%;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  /* animation-fill-mode: forwards; */
}

#logoRingTwo {
  width: 22%;
  height: 22%;

  position: absolute;
  top: 0%;
  left: 0%;

}

#logoRingTwo img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0%;
  left: 0%;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

#logoRingThree {
  width: 22%;
  height: 22%;

  position: absolute;
  top: 0%;
  left: 0%;
}

#logoRingThree img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0%;
  left: 0%;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes pulse {
  from {opacity: 0;}
  to {opacity: 1;}
}

#poemHandCont {
  position: absolute;
  width: 100vw;
  height: 60vmin;
  top: 30vmin;

}

#poem {
  font-family: 'Goudy Bookletter 1911', serif;
  /* font-size: 1.3vw; */
  font-size: 2.5vmin;
  position: absolute;
  width: 20%;
  height: 25%;

  top: 29%;
  /* top: 47vmin; */
  left: 11%;
  /* left: 11vw; */

  display: inline-block;
}

#handCharmCont {
  height: 100%;
  width: 50%;
  float: left;
  display: inline-block;
}

#handCharm img {
  height: 100%;
  width: auto;
}

#handCharm {
  /* height: 60vmin; */
  height: 100%;
  width: auto;

  position: absolute;
  /* right: 34vmin; */
  right: 14%;
  /* top: 30vmin; */
  /* display: inline-block; */
}

#charmGlow {
  background-color: #FFD700;
  height: 15%;
  width: 5%;
  border-radius: 50%;

  position: absolute;
  top: 45%;
  /* right: 57vmin; */
  right: 26%;

  z-index: 1;

  animation-name: glowPulse;
  animation-duration: 3s;
  animation-direction: alternate;;
  animation-iteration-count: infinite;

  filter: blur(7px);
}

@keyframes glowPulse {
  from {transform: scale(2); opacity: 0;}
  to{transform: scale(3); opacity: 0.4;}

}

#hiwCont {
  height: 19vmin;
  width: 100vw;

  position: absolute;
  /* margin: auto; */
  /* left: 16.5vw; */
  /* padding-left: 15vw;
  padding-right: 15vw; */
  top: 130vmin;
}

#howItWorks img {
  height: 100%;
  width: auto;
  margin: auto;
}

#howItWorks {
  height: 100%;
  width: 132vmin;

  position: relative;
  margin: auto;
  /* left: 16.5vw; */
  /* padding-left: 15vw;
  padding-right: 15vw; */
  /* top: 130vmin; */
}

#hiwOne {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 2.8vmin;
  position: relative;
  width: 2.2%;
  height: 25%;

  padding-top: 2%;
  /* left: 1%; */

  display: table-cell;
}

#hiwTwo {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 2.8vmin;
  position: relative;
  width: 2%;
  height: 25%;

  /* top: 5%; */
  /* left: 15%; */

  display: table-cell;
}

#hiwThree {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 2.8vmin;
  position: relative;
  width: 2%;
  height: 25%;

  /* top: 5%; */
  /* left: 1%; */

  display: table-cell;
}

#hiwFour {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 2.8vmin;
  position: relative;
  width: 1.5%;
  height: 25%;

  /* top: 5%; */
  /* left: 1%; */

  display: table-cell;
}

#mainTextCntnr {
  height: 50vmin;
  /* width: 133vmin; */
  width: 100vw;

  position: absolute;
  /* left: 14.25vw; */
  top: 200vmin;
}

#title {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 5.5vmin;
  text-align: center;
  width: 80vmin;
  margin: auto;

}

#mainText {
  padding-top: 3%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3vmin;
  text-align: left;
  width: 132vmin;
  margin: auto;
}

#earthSteroidCont {
  height: 50vmin;
  width: 100vw;
  top: 280vmin;
  /* margin: auto; */
  position: absolute;
}

#earthSteroid {
  height: 50vmin;
  width: 41%;

  position: relative;
  left: 7%;
  /* left: 11vw; */
  /* left: 23vmin; */
  /* top: 280vmin; */
  display: inline-block;
}

#earth {
  height: 100%;
  width: auto;
}

#earth img {
  padding-top: 10%;
  padding-left: 27.5%;
  height: 70%;
  width: auto;
}

#asteroid {
  height: 20%;
  width: auto;
}

#asteroid img {
  height: 40%;
  width: auto;
  position: relative;
  left: 50%;

  animation: zoom 2.5s linear infinite normal, glowPulse2 2.5s linear infinite normal;
  /* animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear; */
}

@keyframes zoom {
  0% {left: 0%; transform: rotate(0deg);}
  50% {left: 50%; transform: rotate(180deg);}
  100% {left: 100%; transform: rotate(360deg);}
}

#holdingCharm {
  /* height: 21vmin;
  width: 11vmin; */

  height: 42%;
  width: auto;

  position: relative;
  left: 32%;
  bottom: 10%;
  /* left: 134vmin; */
  /* left: 71.75vw; */
  /* top: 305vmin; */

  display: inline-block;
}

#figure {
  height: 100%;
  width: auto;
}

#figure img {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 1;
}

#charmGlow2 {
  background-color: #FFD700;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;

  position: absolute;
  right: 66%;
  top: 14%;

  z-index: 1;

  animation-name: glowPulse2;
  animation-duration: 2.5s;
  /* animation-delay: 0.5s; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  filter: blur(6px);
}

@keyframes glowPulse2 {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 0;}
}

#availableContact {
  height: 20vmin;
  width: 100vw;

  position: absolute;
  /* left: 27vmin; */
  /* left: 14.5vw; */
  top: 360vmin;
}

#available {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 5.5vmin;
  text-align: center;
  margin: auto;
}

#contact {
  padding-top: 3%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3.5vmin;
  text-align: center;
  margin: auto;
}

#viDivCont {
  /* display: block; */
  position: absolute;
  top: 410vmin;
  width: 100vw;
  padding-bottom: 1vmin;
}

#viDiv {
  position: relative;
  /* left: 42vmin; */
  /* top: 410vmin; */

  margin: auto;

  height: auto;
  /* width: 100vmin; */
  width: 60%;
}

#creator {
  padding-bottom: 1%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3vmin;
  color: black;
  text-align: left;
}

/* #astCountCont {
  display: block;
  position: absolute;
  top: 494vmin;
  height: 6vmin;
  width: 100vw;
  padding-top: 1vmin;
  /* justify-content: center; */
/* } */

#astCount {
  position: relative;
  /* height: 5vmin;
  width: 50vmin; */
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3vmin;

  /* top: 494vmin; */
  /* left: 72vmin; */
  /* left: 38.5vw; */

  /* padding-bottom: 1vmin; */

  width: 30%;
  height: auto;

  text-align: center;
  margin: auto;

  padding-top: 2%;
  padding-bottom: 5%;
}

#counter {
  position: relative;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 6vmin;
  display: inline-block;

  width: 15%;
  height: auto;

  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  margin: auto;
}
